.elementor-62 .elementor-element.elementor-element-2d642d2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 120px;
    --margin-bottom: 100px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-62 .elementor-element.elementor-element-b68ca92 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 180px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 010px;
    --padding-right: 0px;
}

.elementor-62 .elementor-element.elementor-element-b68ca92.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-62 .elementor-element.elementor-element-6ba849b .rr-el-title {
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

.elementor-62 .elementor-element.elementor-element-6ba849b .rr-el-subtitle {
    font-size: 20px;
}

.elementor-62 .elementor-element.elementor-element-88f4c82 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-62 .elementor-element.elementor-element-b55d3ba {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-62 .elementor-element.elementor-element-1293f2b iframe {
    height: 500px;
}

@media(max-width:767px) {
    .elementor-62 .elementor-element.elementor-element-2d642d2 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-62 .elementor-element.elementor-element-b68ca92 {
        --margin-top: 80px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 0px;
    }
}

@media(min-width:768px) {
    .elementor-62 .elementor-element.elementor-element-2d642d2 {
        --content-width: 1200px;
    }

    .elementor-62 .elementor-element.elementor-element-b68ca92 {
        --width: 40%;
    }

    .elementor-62 .elementor-element.elementor-element-88f4c82 {
        --width: 60%;
    }
}